aiocache==0.12.3
aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiosignal==1.3.2
akshare==1.16.73
anyio==4.8.0
appdirs==1.4.4
APScheduler==3.11.0
attrs==25.3.0
beautifulsoup4==4.13.3
Brotli==1.1.0
build==1.2.2.post1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
contourpy==1.3.2
cryptography==44.0.1
cycler==0.12.1
decorator==5.2.1
Deprecated==1.2.18
et_xmlfile==2.0.0
fonttools==4.57.0
frozenlist==1.5.0
gitdb==4.0.12
GitPython==3.1.44
h11==0.14.0
h2==4.2.0
hpack==4.1.0
html5lib==1.1
httpcore==1.0.7
httpx==0.28.1
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.6.1
iniconfig==2.1.0
jsonpath==0.82.2
kiwisolver==1.4.8
lxml==5.3.2
Markdown==3.7
matplotlib==3.10.0
mini-racer==0.12.4
multidict==6.2.0
ncatbot==3.7.7
nest-asyncio==1.6.0
numpy==2.2.4
openpyxl==3.1.5
orjson==3.10.16
outcome==1.3.0.post0
packaging==24.0
pandas==2.2.3
pathlib2==2.3.7.post1
pillow==11.1.0
pluggy==1.5.0
propcache==0.3.0
psutil==6.1.1
pycparser==2.22
pyee==11.1.1
Pygments==2.19.1
pyparsing==3.2.3
pyppeteer==2.0.0
pyproject_hooks==1.2.0
PySocks==1.7.1
pytest==8.3.5
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
qqmusic-api-python==0.3.4
qrcode==8.0
qrcode-terminal==0.8
requests==2.32.3
requests-mock==1.12.1
schedule==1.2.2
selenium==4.30.0
setuptools==78.1.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
snownlp==0.12.3
sortedcontainers==2.4.0
soupsieve==2.6
tabulate==0.9.0
tqdm==4.67.1
trio==0.29.0
trio-websocket==0.12.2
typing_extensions==4.12.2
tzdata==2025.2
tzlocal==5.3.1
urllib3==1.26.20
webencodings==0.5.1
websocket-client==1.8.0
websockets==10.4
wheel==0.45.1
wrapt==1.17.2
wsproto==1.2.0
xlrd==2.0.1
yarl==1.18.3
zipp==3.21.0
